.inputFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.fieldLabel {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.inputField {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  font-size: 16px;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.dropdownContainer label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.dropdownContainer select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  appearance: none;
  position: relative;
}

.dropdownContainer select:after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #444;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.header {
  /* background-color: #10092d; */
  background-color: #0d3c41;
  color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.App {
  background-image: url("./pexels-catiamatos-1072179.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(150px);
  /* background-color: #10092d; */
  color: #070707;
  font-family: "SF Pro", sans-serif;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #144f56;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #555;
}

.phoneContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.phoneLabel {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.phoneInput {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  font-size: 16px;
}

.phoneError {
  color: #f00;
  margin-top: 5px;
}

.successMessage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #207c87;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.2em;
  animation: fadeOut 10s forwards;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9998;
}

.overlay.active {
  display: block;
}

/* .successMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #207c87;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.2em;
  animation: fadeOut 10s forwards;
  z-index: 9999;
} */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 50px;
  margin-right: 10px;
}

.radioButtonsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.radioButtonsContainer div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radioButtonsContainer input[type="radio"] {
  margin-right: 10px;
}

.radioButtonsContainer label {
  font-size: 16px;
  font-weight: bold;
}
